* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Mohave", sans-serif;
  background-color: #730909;
  color: #f2a20c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: #f2a20c;
}

nav {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 2rem;
  padding: 1rem;
}
main {
  flex: 5;
}
.hamburger i.hamburger {
  display: none;
}
.hamburger i.fa-square-xmark {
  display: none;
}

.nav--img img {
  transition: all 2s;
}
.nav--img img:hover {
  scale: 1.5;
  rotate: 360deg;
}
.nav--links a {
  margin-right: 2rem;
  font-weight: 500;
  display: inline-block;
  font-size: 1.1rem;
}
.nav--links a:hover::after {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: #f2a20c;
  animation: nones 1s linear infinite alternate forwards;
}

header {
  margin-bottom: 4rem;
}
header h1 {
  text-align: center;
  color: #f2a20c;
  font-size: 4rem;
  transition: all 1s;
}
header h1:hover {
  scale: 1.2;
  color: #f2a20c;
  text-shadow: 0 0 7px #f2a20c, 0 0 10px #f2a20c, 0 0 21px #f2a20c,
    0 0 42px rgba(0, 255, 170, 0.596), 0 0 82px rgba(0, 255, 170, 0.642),
    0 0 92px rgba(0, 255, 170, 0.747), 0 0 102px rgba(0, 255, 170, 0.618),
    0 0 151px rgba(0, 255, 170, 0.726);
}

.main--gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 1.5rem;
  margin: auto;
}
.main--gallery-imgs {
  transition: all 0.5s;
  animation: image-dönme 6s linear infinite alternate;
}
.main--gallery:hover .main--gallery-imgs {
  animation: none;
}

.main--gallery-imgs:hover {
  transform: scale(1.5);
  animation: nones;
}
.main--gallery-imgs img {
  width: 250px;
  height: 200px;
  border-radius: 20px;
}

footer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.footer {
  margin: 1rem;
  margin-top: 3rem;
}
.footer a i {
  padding: 0.5rem;
  transition: all 1s ease-in-out;
}
.footer a i:hover {
  color: white;
  transform: rotate(360deg);
}
.footer a i {
  font-size: 1.5rem;
}
/** animations */

@keyframes image-dönme {
  from {
    transform: scale(1);
    box-shadow: 1px 1px 10px #f2a20c;
    border-radius: 20px;
  }
  to {
    transform: scale(1.5);
    box-shadow: 3px 3px 50px #f2a20ca6;
  }
}
@keyframes nones {
  from {
    transform: scaleX(0.1);
  }
  to {
    transform: scaleX(1);
  }
}
@media (max-width: 768px) {
  nav {
    position: relative;
  }
  div.nav--links__a {
    display: none;
    transition: all 1s;
    z-index: 2;
  }
  .nav--links__a a {
    text-align: center;
    margin-left: 0;

    transition: all 1s;
  }
  .nav--links__a a {
    color: white;
  }

  .hamburger i.hamburger {
    display: block;
    font-size: 3rem;
    position: absolute;
    right: 10px;
    top: 40px;
  }

  .nav--links:hover {
    position: absolute;
    right: -30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top:20px;
    position: relative;;
  }

  
  .nav--links:hover div.nav--links__a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:10px;
  }
  .nav--links:hover .hamburger i.hamburger {
    display: none;
  }
  .nav--links:hover .hamburger i.fa-square-xmark {
    display: block;
    font-size: 2rem;
    position:absolute;
    top:-13px;
    right:43px;
  }

  header h1 {
    font-size: 2rem;
  }
}
